html {
  font-family: Inter, Roboto, sans-serif;
}
body {
  color: #111;
  background-color: #6bc1ff;
  /* [Ref] www.joshwcomeau.com/gradient-generator */
  background-image: linear-gradient(
    160deg,
    hsl(216deg 100% 92%) 0%,
    hsl(215deg 100% 90%) 11%,
    hsl(214deg 100% 87%) 22%,
    hsl(212deg 100% 85%) 33%,
    hsl(211deg 100% 83%) 44%,
    hsl(210deg 100% 80%) 56%,
    hsl(209deg 100% 78%) 67%,
    hsl(208deg 100% 76%) 78%,
    hsl(206deg 100% 73%) 89%,
    hsl(205deg 100% 71%) 100%
  );
}
html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", Roboto, sans-serif;
  }
}
header, main, footer {
  max-width: 800px;
  margin: auto;
}
header {
  padding: 1em 1em 0;
  position: relative;
}
header nav {
  margin: 0 0 1em;
}
main {
  padding: 1em;
}
footer {
  padding: 0 1em 1em;
}
strong, b, h1, h2, h3, h4, a[href], dt, .timestamp {
  font-weight: 600;
}
h1,h2,h3,h4,p {
  margin: 0;
}
h2 {
  margin-bottom: .5em;
}
main p {
  margin: .5em 0;
}
a[href] {
  color: #ad1313;
  text-decoration: none;
  padding: .1em .2em;
  border-radius: 2px;
}
a[href]:hover, a[href]:focus, a[href]:active {
  background-color: #ad1313;
  color: #fff;
}
a[href][rel="license"],
a[href][rel="license"]:hover,
a[href][rel="license"]:focus,
a[href][rel="license"]:active {
  background-color: unset;
  color: unset;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
[rel="license"] img {
  vertical-align: middle;
  height: 1.7em;
}

dt, dd {
  display: inline-block;
}
dd {
  margin: 0;
}

hr {
  height: 2.5px;
  background-color: #111;
  border: 0;
  margin: 4rem auto 3rem;
  width: 50%;
}

#table-description {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  margin: 1em 0;
  padding: 1em;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin: 1em 0;
}
#sample-table {
  width: 730px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  border-collapse: collapse;
  margin: 0 auto;
}
#sample-table thead {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}
#sample-table th {
  padding: .5em .5em;
  text-align: center;
  font-weight: 600;
  font-size: .75em;
}
#sample-table th:first-of-type {
  border-top-left-radius: 8px;
}
#sample-table th:last-of-type {
  border-top-right-radius: 8px;
}
#sample-table tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px;
}
#sample-table tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px;
}
#sample-table tbody tr:nth-of-type(even) td {
  background-color: rgba(255, 255, 255, 0.3);
}
#sample-table td {
  padding: .25em .5em;
  text-align: left;
  vertical-align: middle;
  font-weight: 400;
  font-size: .75em;
}
#sample-table td:not(:nth-of-type(2)) {
  text-align: right;
}

.sign {
  text-align: right;
  font-size: 85%;
}
.help {
  text-decoration: underline dotted rgba(0,0,0,.3);
}
.help:hover {
  text-decoration: underline dotted rgba(0,0,0,.6);
}